# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env/
.env

# Flask instance folder
instance/

# VSCode
.vscode/

# OS
.DS_Store

# .env
.env

# Wallet files
Wallet_OracleChallenge/

# .pkl
*.pkl
*.pickle

# chroma DB 
chroma_db/