@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  background-color: #F3F0EB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme{
  --font-family: 'Montserrat', ;
  
  --color-primary-500: #24217A;
  --color-primary-400: #322ea9;

  --color-secondary-500: #B70B33;
  --color-secondary-400: #e90e41;

  --color-terciary-500: #ABB0B8;
  --color-terciary-400: #bbbfc3;

  --color-neutral-500: #F3F0EB;
  --color-neutral-400: #f5f3ee;

  --color-dark-500: #1B1B1B;
  --color-dark-400: #262626;
}

.allure-input {
  @apply w-full rounded-xl border border-gray-300 
         px-4 py-3 text-base text-dark-500 bg-white
         focus:outline-none focus:ring-2 focus:ring-primary-500
         placeholder:text-gray-400;
}


.allure-card {
  @apply bg-white shadow-2xl rounded-2xl p-12 border border-neutral-400;
}


.allure-title {
  @apply text-4xl font-bold text-center mb-10 text-dark-500;
}